$header-height: 50px;
.main-nivagtion-bar {

    > ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;

        > div {
            height: 100%;
            display: flex;
        }
    }

    .bx--header__menu {
        right: 0 !important;
        left: auto !important;
    }

}

.mini-user-profile{
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: 10px;
    }
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header {
    position: relative !important;
    height: $header-height;
}

.card {
    border-radius: 2px;
    background-color: #272727;
    color: rgb(198, 198, 198);
    padding: 10px;
    &.grey {
        background-color: #272727;
    }
    &.light {
        background-color: #3a3a3a;
        color: #fff;
    }
    &.transparent {
        background-color: transparent;
        color: #fff;
    }
}

.bx--btn--field {
    padding: calc(0.675rem - 3px) 12px calc(0.675rem - 3px) 12px;
}

.bx--slider-container {
    width: 100%;
}

.collection {
    height: calc(100vh - $header-height);

    .card-body {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
}

.btn-inline {
    
    &:hover {
        cursor: pointer;
    }
}