$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}

// Medium devices
@mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}

// Large devices
@mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}

// Extra large devices
@mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

$header-height: 50px;

@import 'pdfviewer';

.main-nivagtion-bar {

    >ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;

        >div {
            height: 100%;
            display: flex;
        }
    }

    .bx--header__menu {
        right: 0 !important;
        left: auto !important;
    }

}

.mini-user-profile {
    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-left: 10px;
    }

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header {
    position: relative !important;
    height: $header-height;
}

.card {
    border-radius: 2px;
    background-color: #272727;
    color: rgb(198, 198, 198);
    padding: 10px;

    &.grey {
        background-color: #272727;
    }

    &.light {
        background-color: #3a3a3a;
        color: #fff;
    }

    &.transparent {
        background-color: transparent;
        border-color: transparent;
        color: #fff;
    }
}

.bx--btn--field {
    padding: calc(0.675rem - 3px) 12px calc(0.675rem - 3px) 12px;
}

.bx--slider-container {
    width: 100%;
}

.collection {
    height: calc(100vh - $header-height);

    .card-body {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
}

.btn-inline {

    &:hover {
        cursor: pointer;
    }
}

.toast-notification {
    z-index: 10;
    position: fixed;
    right: 0;
    top: calc(0 + #{$header-height});
    transition: right 0.5s ease-in-out;

    .bx--toast-notification__title {
        font-size: 1.1rem;
        margin-bottom: 3px;
    }

    &.hide {
        right: -100%;
    }

    &.small {
        .bx--toast-notification__caption {
            display: none;
        }
    }

    button {
        margin-bottom: 1rem;
    }
}

.bx--toast-notification__details {
    margin-right: 0rem !important;
}

.bx--toast-notification__caption {
    font-size: 0.775rem !important;
}

.w-100 {

    >button {
        width: 100% !important;
        max-width: 100% !important;
    }
}

.left-side-panel {
    min-width: 350px;
    height: calc(100dvh - $header-height);
    display: flex;
    flex-direction: column;

    .words-panel,
    .file-panel,
    .file-collection-form {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;

        .card {
            height: 100%;
            overflow: overlay;
        }
    }

    @include sm {
        max-width: 350px;
    }

    .file-panel {
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .w-100.position-relative {
                max-height: 85%;
                overflow: scroll;
                overflow-x: hidden;
                margin-bottom: 25px;
            }
        }
    }
}

.back-to {
    flex-direction: row-reverse;
    position: relative;

    svg {
        position: initial !important;
    }
}

.collection-holder {
    position: absolute;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100% - 100px);
}

.pdf-viewer {
    height: calc(100vh - 50px);

    .pdf-tab-content {
        height: calc(100vh - 100px);
    }

    .pdf-tab-pane {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        .pdf-tab-pane-text {
            display: flex;
            align-items: center;
            height: 100%;
            width: calc(100% - 20px);
        }
    }
}

.pdf-viewer,
iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.pdf-tab-pane-close {
    z-index: 1;

    &:hover {
        cursor: pointer;
    }

    svg {
        pointer-events: none;
    }
}

.highlight {
    background-color: yellow;
    opacity: 0.5;
    pointer-events: none;
}

.pdf-tab-content {
    padding: 0px;
    border-top: solid 2px black;
}

.info {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
}

.small-text {
    font-size: 14px;
}

.bookmark-tile {
    &:hover {
        cursor: pointer;
        background-color: #333333;
    }

    padding: 12px;

    h5 {
        font-size: 0.9rem;
    }

    p {
        font-size: 0.7rem;
    }
}

.bx--accordion__content {
    padding-right: 2rem !important;
}

.highlight-text {
    background-color: #b3cbf3;
    opacity: 1;
    padding: 2px 4px;
    color: black;
}

.bx--accordion__title {
    font-size: 1rem;
}

.accordion,
.accordion-button,
.accordion-item,
.accordion-header {
    border-radius: 0px !important;
    border: none !important;
    background-color: rgb(38, 38, 38) !important;
    color: #fff !important;
}

.accordion-body {
    background-color: rgb(30, 30, 30) !important;
}

.accordion-button {
    background-color: rgb(23, 23, 23) !important;
}

.accordion-button:not(.collapsed)::after {
    display: none !important;
}

.color-picker-group {
    display: flex;
    flex-direction: column;

    .color-picker {
        margin-top: 10px;
        display: flex;

        .wrapper {
            position: relative;
            top: 0;
        }
    }
}



/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 0px;
    border-radius: 0px;
  }
  *::-webkit-scrollbar-track {
    background-color: #ffffff00;
    border-radius: 0px;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #ffffff00;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #ffffff00;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
    border-radius: 0px;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: var(--bs-primary);
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: var(--bs-primary);
  }
  .single-word {
    .inner {
        display: flex;
        justify-items: center;

        .word-title {
            margin-left: 10px;
            margin-top: 5px;
        }
    }

    .word-definition {
        margin-top: 5px;
        width: 110%;
        .bx--text-area {
            padding: 0px;
            background-color: transparent;
        }
    }
  }

  .color-display {
    height: 25px;
    width: 25px;
    border-radius: 50%;

    &.true-mark-color {
        opacity: 0.25;
    }
  }